.hello {
	letter-spacing: 0.5px;
	font-size: medium;
	line-height: 25px;
	font-family: Verdana;
}
.hello2 {
	width: 800px;
	margin-left: auto;
    margin-right: auto;
}
#body {
	background-color: rgb(25, 25, 25);
	color: rgb(230, 230, 230);
}
#chapterone {
	text-align: center;
}
.keyword {
	text-decoration: underline;
	text-decoration-color: yellow;

}
.voiceover {
	font-weight: bold;
	font-style: italic;
	background-color: blue;
}
#voiceover2 {
	text-transform: uppercase;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
	font-size: small;
	letter-spacing: 1px;
}
.speech {
	border: 1px dotted;
	padding: 10px;
}
#text {
	font-size: medium;
	letter-spacing: 1px;
}
#portrait {
	text-align: center;
}
#textchinese {
	font-size: small;
}
#dottedhr  {
    border: 1px dotted;
    border-style: none none dotted;
    width: 500px;
}
