* {
  box-sizing: border-box;
}
.hello {
	letter-spacing: 0.5px;
	font-size: medium;
	line-height: 25px;
	font-family: Verdana;
}
.hello2 {
	width: 800px;
	margin-left: auto;
    margin-right: auto;
}
#body {
	background-color: rgb(25, 25, 25);
	color: rgb(230, 230, 230);
}
.title {
	text-align: center;
	letter-spacing: 1px;
}
.keyword {
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 0, 0.4);
}
.voiceover {
	font-weight: bold;
	font-style: italic;
	background-color: blue;
}
#voiceover2 {
	text-transform: uppercase;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
	font-size: small;
	letter-spacing: 1px;
}
.speech {
	border: 1px dotted;
	padding: 10px;
}
#text {
	font-size: medium;
	letter-spacing: 1px;
	line-height: 18px;
}
#portrait {
	text-align: center;
}
#textchinese {
	font-size: small;
	letter-spacing: 0.5px;
}
#dottedhr  {
    border: 1px dotted;
    border-style: none none dotted;
    width: 500px;
}
.subtitle {
	letter-spacing: 1px;
	text-align: center;
}
.column {
  float: left;
  padding: 2px;
}
.left, .right {
  width: 15%;
}
.middle {
  width: 70%;
  border-right: 1px dotted darkgrey;
  border-left: 1px dotted darkgrey;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.breakline {
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	padding: 2px;
}
.keywordtable {
	text-align: center;
	letter-spacing: 0.5px;
	padding: 10px;
	opacity: 20%;
	color: rgb(255, 255, 0);
	font-size: small;
}